  <!-- Botón de regresar -->
  <div class="absolute top-4 left-4">
    <a href="#" class="text-black text-3xl hover:text-black">
      <i class="fas fa-arrow-left"></i>
    </a>
  </div>
<div class="flex-auto flex flex-wrap items-center justify-between gap-50 px-5 ml-28 mr-12 w-full max-w-7xl absolute top-64 ">
  <!-- Contenedor principal -->
     
      <!-- Icono de libro -->
      <button class="flex flex-col items-center justify-start ">
        <i class="fas fa-book text-15xl sm:text-8xl md:text-9xl text-black"></i>
        <p class="text-black text-xl sm:text-2xl mt-6 md:mt-12">Diccionario de LSM</p>
      </button>

      <!-- Icono de jugar contra otro jugador -->
      <button class="flex flex-col items-center">
        <i class="fas fa-gamepad text-8xl sm:text-8xl md:text-9xl text-black"></i>
        <i class="fas fa-gamepad text-8xl sm:text-8xl md:text-9xl text-black"></i>
        <p class="text-black text-xl sm:text-2xl mt-6 md:mt-7">Jugar contra otro Jugador</p>
      </button>

      <!-- Icono de mis juegos -->
      <button class="flex flex-col items-center justify-end">
        <i class="fas fa-gamepad text-8xl sm:text-8xl md:text-9xl text-black"></i>
        <p class="text-black text-xl sm:text-2xl mt-6 md:mt-12">Mis Juegos</p>
      </button>
</div>




  

