<div class="container mx-4 my-4">
  <!-- Input for Game Room -->
  <div class="flex gap-4 mb-4">
    <input
      type="number"
      class="px-4 py-2 border border-gray-300 rounded"
      id="jwt-Token"
      placeholder="Enter Room ID"
    />

    <div class="flex gap-4 mb-4">
      <button
        id="btn-findRoom"
        (click)="findRoom()"
        class="px-4 py-2 bg-blue-500 text-white rounded"
      >
        Find Room
      </button>
    </div>
  </div>

  <span id="server-status">offline</span>
</div>
