<div class="flex items-center justify-center min-h-screen">
    <div class="w-full max-w-lg  p-9 rounded-lg ">
    <h2 class="text-xl font-semibold">Perfil</h2>
      <!-- Formulario de perfil -->
      <form class="space-y-7">
        <!-- Usuario -->
        <div>
          <label class="label font-semibold justify-center">Usuario</label>
          <div class="flex items-center justify-centerspace-x-2">
            <input type="text" placeholder="USER" class="input input-bordered w-full" disabled />
            <button class="fa-regular fa-pen-to-square" ></button>
        </div>
        </div>
        
  
        <!-- Nombre -->
        <div>
          <label class="label font-semibold">Nombre</label>
          <div class="flex items-center space-x-2">
            <input type="text" placeholder="NAME" class="input input-bordered w-full" disabled />
                <button class="fa-regular fa-pen-to-square"></button>
            </div>
        </div>
  
        <!-- Correo -->
        <div>
          <label class="label font-semibold">Correo</label>
          <div class="flex items-center space-x-2">
            <input type="text" placeholder="EJEMPLO@EJEMPLO.COM" class="input input-bordered w-full" disabled />
            <button class="fa-regular fa-pen-to-square"></button>
            </div>
        </div>
  
        <!-- Contraseña -->
        <div>
          <label class="label font-semibold">Contraseña</label>
          <div class="flex items-center space-x-2">
            <input type="password" placeholder="********" class="input input-bordered w-full" disabled />
            <button class="fa-regular fa-pen-to-square"></button>
        </div>
        </div>
      </form>
    </div>
</div>
  
