<div class="flex flex-col min-h-screen p-4">
 
    <!-- Titles -->
    <div class="grid grid-cols-3 font-semibold mb-9">

      <button class="hover:shadow-md justify-center items-center ">ADIVINA LA SEÑA
        <button class="flex flex-col items-center justify-center">
          <i class="fas fa-question-circle text-5xl sm:text-7xl md:text-7xl text-black justify-center"></i>
          
        </button>
      </button>
      <button class="hover:shadow-md items-center">MEMORIA DE SEÑAS
        <button class="flex flex-col items-center justify-start">
          <i class="fas fa-clone text-5xl sm:text-7xl md:text-7xl text-black"></i>
        </button>
      </button>
      <button class="hover:shadow-md">RECUERDA LA SECUENCIA
        <button class="flex flex-col items-center justify-start">
          <i class="fas fa-list text-5xl sm:text-7xl md:text-7xl text-black"></i>
         
        </button>
      </button>
    </div>
  
    <!-- Table -->
    <div class="overflow-x-auto">
      <table class="table-auto w-full bg-gray-200 border border-gray-300">
        <thead class="bg-gray-300">
          <tr>
            <th class="border border-gray-400 px-4 py-2 text-center">RANKING</th>
            <th class="border border-gray-400 px-4 py-2 text-center">NOMBRE</th>
            <th class="border border-gray-400 px-4 py-2 text-center">SEÑAS ADIVINADAS</th>
            <th class="border border-gray-400 px-4 py-2 text-center">VICTORIAS</th>
          </tr>
        </thead>
        <tbody>
          <!-- Rows -->
          <tr>
            <td class="border border-gray-400 px-4 py-2"></td>
            <td class="border border-gray-400 px-4 py-2"></td>
            <td class="border border-gray-400 px-4 py-2"></td>
            <td class="border border-gray-400 px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2"></td>
            <td class="border border-gray-400 px-4 py-2"></td>
            <td class="border border-gray-400 px-4 py-2"></td>
            <td class="border border-gray-400 px-4 py-2"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
