
  <!-- Botón de regresar -->
  <div class="absolute top-4 left-4">
    <a href="#" class="text-black text-3xl hover:text-black-300">
      <i class="fas fa-arrow-left"></i>
    </a>
  </div>

  <!-- Contenedor principal -->
     <div class="flex-auto flex flex-wrap items-center justify-between gap-50 px-5 ml-32 mr-12 w-full max-w-7xl absolute top-64   ">
      <!-- Icono de libro -->
      <button class="flex flex-col items-center justify-start">
        <i class="fas fa-question-circle text-15xl sm:text-8xl md:text-9xl text-black"></i>
        <p class="text-black text-xl sm:text-2xl mt-6 md:mt-12">Adivinar la Seña</p>
      </button>

      <!-- Icono de jugar contra otro jugador -->
      <button class="flex flex-col items-center">
        <i class="fas fa-clone text-8xl sm:text-8xl md:text-9xl text-black"></i>
        <p class="text-black text-xl sm:text-2xl mt-6 md:mt-7">Memoria de Señas</p>
      </button>

      <!-- Icono de mis juegos -->
      <button class="flex flex-col items-center">
        <i class="fas fa-list text-8xl sm:text-8xl md:text-9xl text-black"></i>
        <p class="text-black text-xl sm:text-2xl mt-6 md:mt-12">Recuerda la Secuencia</p>
      </button>
    </div>
  
  