<li>
  <a href="/dashboard">
    <div class="avatar placeholder">
      <div class="bg-neutral text-neutral-content w-12 rounded-full">
        <span>SY</span>
      </div>
    </div>
    <div class="flex justify-between w-full">
      <div class="flex justify-center space-x-2">
        <div class="flex justify-start flex-col items-start">
          <p class="cursor-pointer text-sm leading-5">Alexis Enache</p>
          <p class="cursor-pointer text-xs leading-3">alexis81gmail.com</p>
        </div>
      </div>
      <lucide-icon [img]="SettingsIcon" />
    </div>
  </a>
</li>
