
  <!-- Título en la parte superior centrado -->
  <h1 class="text-5xl text-black font-bold mb-10 text-center">
    Diccionario de LSM
  </h1>
  <br>
  


  <div class="flex gap-8 w-full px-10">
    <!-- Select de categorías alineado a la izquierda con mayor ancho -->
    <div class="w-full">
      <select class="select select-bordered w-full max-w-md ml-10">
        <option disabled selected>Selecciona una Categoria de Señas</option>
        <option>Alternativa 1</option>
        <option>Alternativa 2</option>
      </select>
    </div>
  
    <!-- Select de señas alineado a la derecha con mayor ancho -->
    <div class="w-full flex flex-col">
      <select class="select select-bordered w-full max-w-md">
        <option disabled selected>Selecciona una Seña</option>
        <option>Alternativa 1</option>
        <option>Alternativa 2</option>
      </select>
      
      <!-- Textarea alineado a la derecha del select de señas -->
      <textarea
        placeholder="Bio"
        class="textarea textarea-bordered textarea-lg w-full max-w-md mt-2" disabled>
      </textarea>
    </div>
  </div> 

  
<div>
  <!-- Avatar debajo del select de categoría con borde y tamaño aumentado -->
  <div class="mt-0 ml-40">
    <div class="w-60 h-80 border-0">
      <img src="Carta volteada con signo.jpg" alt="Avatar de categoría" />
    </div>
  </div>

  <div class="absolute top-4 left-4">
    <a href="#" class="text-black text-3xl hover:text-black">
      <i class="fas fa-arrow-left"></i>
    </a>
  </div>
</div>


