<div class="game-board">
  <div *ngFor="let card of shuffledCards; let index = index; trackBy: trackByCardId">
    <div
      class="memory-card"
      (click)="flipCard(index)"
      [class.flipped]="isFlipped(card)"
      [class.matched]="matchedCards.includes(card)"
    >
      <div class="card-front">
        <img *ngIf="isFlipped(card)" [src]="card.imageURL" alt="{{ card.name }}" />
      </div>
      <div class="card-back" *ngIf="!isFlipped(card)">
        {{ card.name }}
      </div>
    </div>
</div>
