<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <!-- Texto de bienvenida -->
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">¡Inicia sesión ahora!</h1>
      <p class="py-6">
        Accede a tu cuenta para comenzar a aprender Lengua de Señas Mexicana.
        Disfruta de juegos interactivos, un glosario completo y compite en los
        rankings globales.
      </p>
    </div>

    <!-- Formulario de login -->
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <form class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input
            type="email"
            placeholder="email"
            class="input input-bordered"
            required
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input
            type="password"
            placeholder="password"
            class="input input-bordered"
            required
          />
          <label class="label">
            <a href="#" class="label-text-alt link link-hover"
              >¿Olvidaste tu contraseña?</a
            >
          </label>
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary">Iniciar sesión</button>
        </div>

        <div class="form-control mt-2">
          <button class="btn btn-ghost underline">Iniciar como Invitado</button>
        </div>
      </form>
    </div>
  </div>
</div>
