<div class="flex flex-col h-screen items-center justify-center text-black font-bold py-8">
    <!-- Título principal -->
    <h1 class="text-4xl mb-24">MEMORIA DE SEÑAS</h1>
  
    <!-- Nombres y enfrentamiento -->
    <div class="flex items-center justify-center w-full px-12 mb-14">
      <p class="text-lg text-center">NOMBRE <br> USER 1</p>
      <p class="text-2xl mx-10">VS</p>
      <p class="text-lg text-center">NOMBRE <br> USER 2</p>
    </div>
  
    <!-- Botón empezar -->
    <button class="bg-gray-200 text-black py-3 px-10 rounded mb-12 hover:bg-gray-300 transition-all duration-300">
      EMPEZAR
    </button>
  
    <!-- Botón volver -->
    <button class="bg-gray-200 text-black py-3 px-10 rounded mt-14 hover:bg-gray-300 transition-all duration-300">
      Volver al Menú
    </button>
  </div>
  